<!-- extends表明此頁面繼承自 base.html 文件 -->
{% extends "base.html" %}
{% load static %}

<!-- 寫入 base.html 中定義的 title -->
{% block title %}
    文章內容
{% endblock title %}

<!-- 寫入 base.html 中定義的 content -->
{% block content %}

<!-- 文章詳情 -->
<div class="container">
    <div class="row">
        <!-- 標題及作者 -->
        <h1 class="col-12 mt-4 mb-4">{{ article.title }}</h1>
        <div class="col-12 alert alert-success">作者：{{ article.author }}
            {% if user == article.author %}
            · <a href="#" onclick="confirm_safe_delete()">删除文章</a>
             · <a href="{% url 'article:article_update' article.id %}">編輯文章</a>
            {% endif %}
            <div>
                瀏覽：{{ article.total_views }}
            </div>
            <!-- 新增一个隐藏的表单 -->
            <form
                style="display:none;"
                id="safe_delete"
                action="{% url 'article:article_safe_delete' article.id %}"
                method="POST"
                >
            {% csrf_token %}
            <button type="submit">发送</button>
            </form>
        </div>


        <!-- 文章正文 -->
        <div class="col-12">
            <p>{{ article.body|safe }}</p>
        </div>
            <!-- 发表评论 -->
        <hr>
        {% if user.is_authenticated %}
            <div>
                <form
                    action="{% url 'comment:post_comment' article.id %}"
                    method="POST"
                >
                {% csrf_token %}
                    <div class="form-group">
                        <label for="body">
                            <strong>
                                留言：
                            </strong>
                        </label>
                        <textarea
                            type="text"
                            class="form-control"
                            id="body"
                            name="body"
                            rows="2"></textarea>
                    </div>
                    <!-- 提交按钮 -->
                    <button type="submit" class="btn btn-primary ">發送</button>
                </form>
            </div>
            <br>
        {% else %}
            <br>
            <h5 class="row justify-content-center">
                請<a href="{% url 'userprofile:login' %}">登錄</a>後留言
            </h5>
            <br>
        {% endif %}
    </div>
        <!-- 显示评论 -->
    <h4>共有{{ comments.count }}條留言</h4>
    <div>
        {% for comment in comments %}
            <hr>
            <p>
                <strong style="color: pink">
                    {{ comment.user }}
                </strong> 於
                <span style="color: green">
                    {{ comment.created|date:"Y-m-d H:i:s" }}
                </span> 時說：
            </p>
            <pre style="font-family: inherit; font-size: 1em;">
                {{ comment.body }}</pre>
        {% endfor %}
    </div>
</div>

<!-- 彈窗 -->
<script>
    // 除這篇文章
    function confirm_delete() {
        // 調用layer彈窗組件
        layer.open({
            // 彈窗標題
            title: "確認刪除",
            // 正文
            content: "確認刪除這篇文章嗎？",
            // 點擊確定按鈕後調用的回調函數
            yes: function(index, layero) {
                // 指定应当前往的 url
                location.href='{% url "article:article_delete" article.id %}'
            },
        })
    }

function confirm_safe_delete() {
    layer.open({
        title: "確認刪除",
        content: "確認刪除這篇文章嗎？",
        yes: function(index, layero) {
            $('form#safe_delete button').click();
            layer.close(index);
        }
    })
}

</script>
{% endblock content %}



